<div class="container">
<div>
<form action="/expenses"  method="post">
<h1>Expenses Tracker App</h1>
<label for="description">Description: </label><input type="text" name="description" id="description"/><br/>
<label for="amount">Amount: </label><input type="number" name="amount" id="amount"/><br/>
<label  for="category">Category: </label>
<select name="category">
<option>Daily</option>
<option>Weekly</option>
<option>Weekday</option>
<option>Weekend</option>
<option>Monthly</option>
<option>Once Off</option>
</select><br/><br/>
<button type="submit">Add Expense</button>
</form>
</div>

<div>
<form action="/expenses" method="get"></form>

</div>

<div>
<form action="/clear" method="post"></form>
</div>
</div>